Repository voorhoede/head-start, pull requests merged in 2025-03, with the labels that each got.

#242 feature: Service worker (custom Astro integration)
  astro.config.ts
  config/astro/service-worker-integration.ts
  docs/assets.md
  docs/decision-log/2025-01-11-service-worker.md
  package-lock.json
  package.json
  src/assets/service-worker.ts
  src/layouts/PerfHead/PerfHead.astro
Labels: performance

#247 docs: Performance
  README.md
  docs/performance.md
Labels: documentation, performance

#243 chore: "analyze" script
  .gitignore
  README.md
  astro.config.ts
  package-lock.json
  package.json
Labels: performance

#224 feature: proxy files with custom slugs
  .gitignore
  config/datocms/migrations/1734959319_customFilePaths.ts
  datocms-environment.ts
  package.json
  scripts/download-file-proxy-map.ts
  src/lib/routing/FileRoute.fragment.graphql
  src/lib/routing/file.ts
  src/lib/routing/index.ts
  src/middleware/index.ts
  src/middleware/proxy-files.ts
Labels: 🚏 routing
